#root {
    //   max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    // background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

html,
body {
    box-sizing: border-box;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/bookshelf.jpg');
    filter: grayscale(88%);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
  }

* {
    margin: 0;
}

html,
body {
    height: 100%;
    padding: 0;
}

.container {
    min-height: calc(100vh - 2.5rem);
    padding-bottom: 2.5rem;
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/mainbg-wide.png);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: unset !important;
}

.navbar {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    text-decoration: none;
    background-color: #102324;
    width: 100%;
    padding-inline: 4rem;

    &.navbar-light {
        padding-inline: 4rem;
    }
}

.nav-link {
    color: white;
}

.nav-link.active {
    color: white !important;
}

.custom-toggler .navbar-toggler-icon {
    filter: invert(100%)
}

.navbar-brand {
    text-decoration: none;

    a {
        text-decoration: none;
    }
}

.navbar-brand h1 {
    color: #CACED4;
    padding-left: 1rem;
    font-size: 3rem;

    &:hover {
        color: #35373C;
    }
}

.navbar-nav {
    display: flex;
    gap: 1rem;
    font-size: 1.7rem;
}

.navbar-nav a {
    text-decoration: none;
    color: #CACED4;
    opacity: 0.98;
}

.navbar-nav a:hover {
    color: #000;
    background-color: #fff;
    border-radius: 11px;
}

.navbar-collapse {
    justify-content: flex-end;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: #102324;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
}

.login-page-container {
    
    h1 {
        color: white;
    }
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    gap: .6rem;
    max-width: 400px;
    border-radius: 11px;
    padding: 1rem;
    box-shadow: 0 0 6px 3px #35373C;
    background-color: #FAFAF999;
    backdrop-filter: blur(6px);
}

.loading-msg {
    color: orange;
    font-size: 1.2rem;
    background-color: #35373C55;
    padding: 0.5rem;
    border-radius: 6px;
    margin-top: 1rem;
}

label {
    width: 188px;
}

input {
    font-size: 1.5rem;
}

.formSubmitBtn {
    flex-grow: 0;
    width: 150px;
    height: 33px;
    margin: 0 auto
}

.formGroup {
    display: flex;
    gap: 1rem;
}

@media (max-width: 991.98px) {
    .navbar-nav {
        margin-left: 1rem;
    }

    .container {
        background-image: url(../images/mainbg-tall.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media (max-width: 758px) {
    nav.navbar-light {
        padding-inline: 0.4rem;
    }
}