.book-search-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .search-bar {
        width: 100%;
    }
}

.search-btn {
    background-color: orange;
    border-radius: 11px;

    &:hover {
        background-color: #b37300;
    }
}

.result-list {
    list-style-type: none;

    li {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding-block: 1rem;

        img {
            border-radius: 11px;
        }

        button {
            width: 133px;
            border-radius: 6px;
        }

    }

}

.submit-form {

    .book-info {

        .title-author {
            align-items: center;
            justify-content: center;
            margin-top: auto;
        }
    }
    button {
        background-color: var(--accent-color);
        color: var(--text-color);
        border-radius: 11px;
        border: none;
    }
}

.review-input {
    width: 100%;
    height: 188px;
}