.hero-div {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin-top: 2rem;
    padding: 1rem;
    border: 2px solid var(--accent-color);
    border-radius: 0 22px 0 22px;
    background-color: #FAFAF977;
    margin-inline: 1rem;
    margin-bottom: 2rem;

    img {
        min-height: 333px;
        max-height: 555px;
        max-width: 100%;
        border-radius: 0 22px 0 22px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
}

.homeLinks {
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center; 
    padding: 2rem 3rem;
    border-radius: 11px;
    // height: 444px;
    // box-shadow: 0 0 6px 3px #35373C;

    // background-color: var(--background-color);

    a {
        text-decoration: none;
        color: var(--text-color);
        font-size: 2rem;
        width: fit-content;
        background-color: var(--accent-color);
        border-radius: 11px;
        padding-inline: 0.5rem;
        margin: 0.5rem;
        // box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
        &:active{
            transform: scale(0.95);
            background-color: var(--text-color);
        }
        &:hover{
        color: var(--text-color);
        background-color: var(--primary-color);
        border-radius: 11px;            
        }
    }

    // & a:active {
    //     transform: scale(0.9);
    // }
}

.welcome-message {
    // color: #FAFAF9;
    color: var(--text-color);
    padding-left: 1rem;
    margin-top: 2rem;

    h3 {
        font-size: 3.3rem;
    }

    h4 {
        font-size: 2rem;
    }
}

.home-hero {
    display: flex;
    max-width: 100%;
    width: 999px;

    // img {
    //     width: 111px;
    // }
}